.hero-snapshot {
    width: 250px;
    height: 400px;
    margin: 5px;
    border: solid white 1px;
    border-radius: 6%;
    padding: 10px 10px;
    background-color: black;
    color: white;
    font-size: 0.45em;
}

.common {
    background-color: gray;
    background-image: url("../../images/cards/commonCardBackground.3ddb1a56.png")
}

.uncommon {
    background-color: green;
    background-image: url("../../images/cards/uncommonCardBackground.29676ab8.png")
}

.rare {
    background-color: skyblue;
    background-image: url("../../images/cards/rareCardBackground.e75dff9e.png")
}

.legendary {
    background-color: orangered;
    background-image: url("../../images/cards/legendaryCardBackground.58381f20.png")
}

.mythic {
    background-color: indigo;
    background-image: url("../../images/cards/mythicCardBackground.e2cdd083.png")
}

.hero-snapshot-title {
    font-weight: 800;
    font-size: 1.1em;
    font-style: italic;
    text-align: center;
    margin-bottom: 7px;
    border-bottom: 1px solid white;
}

.hero-snapshot-name {
    font-weight: 800;
    font-size: 1.1em;
    margin-bottom: 7px;
}

/* grc - Generation, Rarity, Classes */
.hero-snapshot-grc {
    font-weight: 800;
    margin-top: 7px;
    margin-bottom: 2px;
}

.hero-snapshot-owner {
    margin-top: 2px;
    margin-bottom: 7px;
}

.hero-snapshot-genes-section {
    display: flex;
    margin-top: 7px;
    margin-bottom: 5px;
}

.hero-snapshot-genes {
    margin-right: 20px;
}

.hero-snapshot-genes .title {
    font-weight: 600;
}

.hero-snapshot-genes .gene {
    display: flex;
}

.hero-snapshot-genes .label {
    width: 25px;
}

.hero-stat-section .title {
    font-weight: 600;
}

.hero-stat-section .stat-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70px;
}

.profession-stat-section .stat-group {
    height: 40px;
}

.hero-stat {
    display: flex;
    width: 100px;
    padding: 0 10px;
}

.hero-stat .name, 
.hero-stat .value {
    width: 50%;
}

.hero-stat .name {
    text-align: left;
}

.hero-stat .value {
    text-align: right;
}

.hero-stat .main-minor,
.hero-stat .main,
.hero-stat .minor
 {
    font-weight: 600;
}

.hero-stat .main {
    color: green;
}

.hero-stat .minor {
    color: skyblue;
}

.hero-stat .main-minor {
    color: purple;
}
