.hero-snapshot {
    width: 250px;
    height: 400px;
    margin: 5px;
    border: solid white 1px;
    border-radius: 6%;
    padding: 10px 10px;
    background-color: black;
    color: white;
    font-size: 0.9em;
}

.common {
    background-color: #93979D;
    /* background-image: url("../../images/cards/commonCardBackground.3ddb1a56.png") */
}

.uncommon {
    background-color: #72C283;
    /* background-image: url("../../images/cards/uncommonCardBackground.29676ab8.png") */
}

.rare {
    background-color: #64AFAE;
    /* background-image: url("../../images/cards/rareCardBackground.e75dff9e.png") */
}

.legendary {
    background-color: #D36B20;
    /* background-image: url("../../images/cards/legendaryCardBackground.58381f20.png") */
}

.mythic {
    background-color: #B56FD3;
    /* background-image: url("../../images/cards/mythicCardBackground.e2cdd083.png") */
}

.hero-snapshot-title {
    font-weight: 800;
    font-size: 1.1em;
    font-style: italic;
    text-align: center;
    margin-bottom: 7px;
    border-bottom: 1px solid white;
}

.hero-snapshot-name {
    text-align: center;
    font-weight: 800;
    font-size: 1.1em;
    margin-bottom: 7px;
}

/* grc - Generation, Rarity, Classes */
.hero-snapshot-grc {
    font-weight: 600;
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: center;
}

.hero-snapshot-owner {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
}

.hero-snapshot-summons {
    display: flex;
    justify-content: space-between;
}

.hero-snapshot-pricing {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.price-group {
    margin: 10px;
    text-align: center;
}

.price-group .price-label {
    font-size: 0.8em;
}

.price-group .price-value {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.05em;
}

.jewel-icon {
    width: 12px;
    height: 12px;
    margin: 0 0 0 5px;
}

.hero-snapshot-genes-section {
    display: flex;
    margin-top: 7px;
    margin-bottom: 5px;
    justify-content: space-between;
}

.hero-snapshot-genes .title {
    font-weight: 600;
}

.hero-snapshot-genes .gene {
    display: flex;
    margin-top: 2px;
}

.hero-snapshot-genes .gene .notBasic {
    color: yellow;
    /* font-weight: bold; */
}

.hero-snapshot-genes .label {
    width: 25px;
}

.hero-snapshot-genes .value {
    font-size: .9em;
}

.hero-stat-section {
    margin-top: 7px;
    margin-bottom: 5px;
}

.hero-stat-section .title {
    font-weight: 600;
}

.hero-stat-section .stat-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80px;
}

.profession-stat-section .stat-group {
    height: 40px;
}

.hero-stat {
    display: flex;
    width: 100px;
    padding: 0 10px;
}

.hero-stat .name, 
.hero-stat .value {
    width: 50%;
}

.hero-stat .name {
    text-align: left;
}

.hero-stat .value {
    text-align: right;
}

.hero-stat .main-minor,
.hero-stat .main,
.hero-stat .minor
 {
    font-weight: 600;
}

.hero-stat .main {
    color: green;
}

.hero-stat .minor {
    color: skyblue;
}

.hero-stat .main-minor {
    color: purple;
}
