.search-form-simple {
    margin: 0 10px;
}

.auction-type-selecter,
.hero-id-selecter, 
.network-selecter,
.origin-realm-selecter,
.summoned-class-selecter,
.summoned-profession-selecter { 
    margin: 0 5px 1px 5px;
}

.auction-type-selecter>div,
.hero-id-selecter div,
.network-selecter>div,
.summoned-class-selecter>div,
.summoned-profession-selecter>div {
    color: blue !important;
}

.auction-type-selecter>div,
.network-selecter>div,
.origin-realm-selecter>div,
.summoned-class-selecter>div,
.summoned-profession-selecter>div {
    padding-bottom: 0;
    text-align: center;
}

.hero-id-selecter {
    vertical-align: inherit !important;
}

.hero-id-selecter input {
    padding-bottom: 1px;
    text-align: center;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auction-type-selecter {
    width: 70px;
}

.hero-id-selecter>div {
    width: 120px;
}

.network-selecter>div {
    width: 90px;
}

.summoned-class-selecter {
    width: 125px;
}

.summoned-profession-selecter {
    width: 140px;
}

.wallet-button {
    padding: 5px 0 !important;
    font-size: 0.8em !important;
}

.wallet-form-icon:hover {
    cursor: pointer;
}

.search-form-toggle {
    text-decoration: none;
    color: gray;
    margin-left: 20px;
}

.search-form-toggle:hover {
    text-decoration: underline;
}
