/* .hero-card {
    width: 300px;
    height: 500px;
    border: solid white 1px;
    border-radius: 2%;
    padding: 10px 20px;
}
 */

.hero-stat-section {
    margin-bottom: 20px;
}

.hero-stat-section .title {
    margin-bottom: 5px;
}

.hero-stat-section .stat-group {
    display: flex;
    flex-wrap: wrap;
}

.hero-stat {
    display: flex;
    width: 130px;
    padding: 5px 10px 7px 10px;
    font-size: 0.8em;
}

.hero-stat .name, 
.hero-stat .value {
    width: 50%;
}

.hero-stat .name {
    text-align: left;
}

.hero-stat .value {
    text-align: right;
}

.hero-stat .main {
    color: green;
}

.hero-stat .minor {
    color: skyblue;
}
