.SummonsMatchSearchForm {
    display: flex;
    align-items: flex-end;
    margin: 10px;
}

.auction-type-selecter,
.hero-id-selecter, 
.summoned-class-selecter { 
    margin: 0 10px;
    width: 100px;
    margin-bottom: -6px;
}

.auction-type-selecter>div,
.hero-id-selecter input,
.summoned-class-selecter>div {
    color: blue;
}

.auction-type-selecter {
    width: 100px;
}

.auction-type-selecter>div {
    font-size: calc(10px + 2vmin);
    padding-bottom: 0;
    margin-bottom: -8px;
}

.hero-id-selecter label {
    text-align: center;
    width: 100%;
    transform-origin: center;
}

.hero-id-selecter input {
    font-size: calc(10px + 2vmin);
    text-align: center;
    padding-bottom: 1px;
}

.summoned-class-selecter {
    width: 200px;
}

.summoned-class-selecter>div {
    font-size: calc(10px + 2vmin);
    padding-bottom: 0;
    margin-bottom: -8px;
}
