.SummonsMatchSearchForm {
    display: flex;
    align-items: flex-end;
}

.hero-id-selecter, .summoned-class-selecter {
    margin: 0 10px;
    width: 100px;
    margin-bottom: -6px;
}

.hero-id-selecter label {
    text-align: center;
    width: 100%;
    transform-origin: center;
}

.hero-id-selecter input {
    font-size: calc(10px + 2vmin);
    text-align: center;
    padding-bottom: 1px;
}

.summoned-class-selecter {
    width: 200px;
}

.summoned-class-selecter>div {
    font-size: calc(10px + 2vmin);
    padding-bottom: 0;
    margin-bottom: -8px;
}
