.SummonsMatchSearchForm {
    display: flex;
    align-items: center;
    margin: 10px;
}

.auction-type-selecter,
.hero-id-selecter, 
.summoned-class-selecter,
.summoned-profession-selecter { 
    margin: 0 5px;
    margin-bottom: 1px;
}

.auction-type-selecter>div,
.hero-id-selecter input,
.summoned-class-selecter>div,
.summoned-profession-selecter>div {
    color: blue !important;
}

.summoned-class-selecter>div,
.summoned-profession-selecter>div,
.auction-type-selecter>div {
    padding-bottom: 0;
    text-align: center;
}

.hero-id-selecter input {
    text-align: center;
    padding-bottom: 1px;
}

.auction-type-selecter {
    width: 80px;
}

.hero-id-selecter {
    width: 70px;
}

.summoned-class-selecter {
    width: 125px;
}

.summoned-profession-selecter {
    width: 100px;
}